html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#app {
    width: 100vw;
    min-height: 100vh;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sidebar */

.sidebar {
    /* padding-left: 25px; */
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #222;
    overflow-x: hidden;
    padding-top: 40px;
    transition: 0.5s;
    color: gray;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px
}

.closebtn:hover {
    text-decoration: none;
}

.openbtn {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    color: white;
    text-shadow: 0 0 2px black;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 2px;
    transition: all 0.5s ease;
}

.openbtn:hover, .openbtn.active {
    background: white;
    color: black;
    border: 1px solid transparent;
}

.form-check, .form-group {
    margin-top: 20px;
}

.form-check:hover, .form-group:hover {
    color: white;
}